<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>first thymeleaf page</title> 
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
</head>
<body> 
<div class="container">
<div class="jumbotron"> 

<h6 class="display-5"> Confirmation  </h6>
<hr class="my-4">
<h6 class="display-6"> Dear, <em th:text="${session.patient.firstName}">123</em> <em th:text="${session.patient.lastName}">123</em>
for your disease: <em th:text="${session.patient.disease}">Wrox</em> you've appointment with Dr.<em th:text="${session.assignedDoctor}">Spring in Action</em>
  
        

 </h6>
 
        
       
        
       
   
<div>
<br>
<br>
 
</div>
</div>

</div>




</body>
</html>