<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>first thymeleaf page</title> 
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
</head>
<body> 
<div class="container">
<div class="jumbotron"> 

<h4 class="display-4">Flight List</h4>
<hr class="my-4">
<table class="table table-borderless">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Airline</th>
    </tr>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.id}">123</td>
        <td th:text="${flight.name}">Spring in Action</td>
        <td th:text="${flight.airlines}">Wrox</td>
        <td> <a th:href="@{/flights/delete?id=}+${flight.id}" onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false" class="btn btn-danger"> Delete  </a>  </td>
        <td> <a th:href="@{/flights/update?id=}+${flight.id}" class="btn btn-info"> Update </a>  </td>
       
        
    </tr>
</table>
<hr class="my-4">
<a th:href="@{/flights/showForm}"
		class="btn btn-primary btn-lg " role="button"> Add Flight </a>
<a th:href="@{/passenger/passengerForm}"
		class="btn btn-primary btn-lg " role="button"> Add Passenger </a>
</div>
</div>





</body>
</html>