<p>view works!</p> 


<table > 
    <tr>
        <th> Name </th>
        <th> Email </th>
        <th> Password</th>
    </tr>
    <tr *ngFor="let user of userObjArray"> 
        <td> {{user.name}}</td>
        <td> {{user.email}} </td>
        <td> {{user.password}}</td>
        <td><input type="button" (click)="delete(user)" value="delete"></td>
        <td><input type="button" (click)="update(user)" value="Update"></td>
    </tr>

</table>  

<form [formGroup]="reactiveForm" (submit)="submitReactiveForm()" novalidate > 
    <input type="text" formControlName="name" placeholder="name">
    <input type="email" formControlName="email" placeholder="email">
    <input type="button" value="Submit">
</form>


